@model NNShop.Web.Infrastructure.Core.PaginationSet<NNShop.Web.Models.ProductViewModel>

@{
    var keyword = (string)ViewBag.Keyword;
    ViewBag.Title = "Kết quả tìm kiếm cho từ khóa" + keyword;
    Layout = "~/Views/Shared/Layouts.cshtml";
    //var category = (NNShop.Web.Models.ProductCategoryViewModel)ViewBag.Category;
}

<div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner3">
        <h3>Sản phẩm mới dành cho bạn!<span class="blink_me"></span></h3>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid">
        @if (Model.Count > 0)
        {
            <div class="w3ls_logo_products_left1">
                <ul class="special_items" style="margin-left:250px">
                    <li><a href="#">Sắp xếp theo yêu cầu:</a><i></i></li>
                    <li><a href="?page=@Model.Pages&sort=popular">Phổ biến</a><i>|</i></li>
                    <li><a href="?page=@Model.Pages&sort=new">Mới</a><i>|</i></li>
                    <li><a href="?page=@Model.Pages&sort=discount">Khuyến mãi</a><i>|</i></li>
                    <li><a href="?page=@Model.Pages&sort=price">Giá: Thấp -> Cao</a></li>
                </ul>
            </div>
            <br />
            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6>Kết quả tìm kiếm: @keyword - @Model.TotalCount sản phẩm</h6>
                @foreach (var food in Model.Items)
                {
                    var url = "/" + food.Alias + ".p-" + food.ID + ".html";
                    <div class="col-md-3 w3ls_w3l_banner_left">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="/Assets/client/images/offer.png" alt="#" class="img-responsive" />
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <img src="/Assets/client/css/inew.gif" height="13" />
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="@url"><img src="@food.Image" alt="#" class="img-responsive" /></a>
                                                <p>@food.Name</p>
                                                <h4>
                                                    @food.Price.ToString("N0") VND
                                                    @if (food.Promotion.HasValue)
                                                    {
                                                        <span style="font-size: 9px;color: red;">
                                                            @food.Promotion.Value.ToString("N0") VND
                                                        </span>
                                                    }
                                                </h4>
                                            </div>
                                            <div class="snipcart-details">
                                                <a href="#"><input type="submit" class="btnAddToCart button" name="submit" data-id="@food.ID" value="Mua hàng" /></a>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"> </div>
                @if (Model.TotalPages > 1)
                {
                    // Create numeric links
                    var startPageIndex = Math.Max(1, Model.Pages - Model.MaxPage / 2);
                    var endPageIndex = Math.Min(Model.TotalPages, Model.Pages + Model.MaxPage / 2);

                    <nav>
                        <ul class="pagination">
                            @if (Model.Pages > 1)
                            {
                                <li>
                                    <a href="?page=1" aria-label="First">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="?page=@(Model.Pages - 1)" aria-label="Previous">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (Model.Pages == i)
                                {
                                    <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="?page=@i" title="Trang @i">@i</a></li>
                                }
                            }
                            @if (Model.Pages < Model.TotalPages)
                            {
                                <li>
                                    <a href="?page=@(Model.Pages+1)" aria-label="Next">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="?page=@Model.TotalPages" aria-label="Last">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        }
        else
        {
            <h3>Không có bản ghi nào được tìm thấy.<span class="blink_me"></span></h3>
        }
    </div>
</div>
